:root {
  --font-family-serif: "Charter", "Iowan Old Style", "Georgia", "Cambria",
    '"Times New Roman"', "Times", "serif";
}

body {
  margin: 0;
}

html {
  font-family: var(--font-family-serif);
}

h1,
h2,
h3 {
  margin: 0;
  font-size: inherit;
}
