.js-nav_visible {
  [data-responsive-hidden-nav] {
    background-color: #e9e7e0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100vh;

    ul {
      flex-direction: column;
      @apply text-base;

      li {
        @apply inline;
      }

      form {
        @apply block;
      }
    }
  }
}
