{
  "plugins": [
    "stylelint-order",
    "./stylelint/no-comments.js"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "movielog/no-comments": true
  }
}