---
layout: default
---

<main>
  <div class="timeline">
    <dl>
      {% for post in site.posts %}
        <dd class="clearfix {% cycle 'pos-left', 'pos-right' %}">
            <div class="circ {% cycle 'circ-odd', 'circ-' %}">
            </div>
            <div class="time">
                <span data-time-ago="{{ post.date | date: '%Y-%m-%d' }}">
                    {{ post.date | date: '%F' }}
                </span>
            </div>
            <div class="events">
                <div class="events-body">
                    <h3 class="events-heading">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h3>
                    <p>
                        {{ post.content }}&hellip;
                    </p>
                </div>
            </div>
        </dd>
      {% endfor %}
    </dl>
  </div>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</main>