$color-footer-background: #f7fafb;
$color-footer-border: #ebf2f6;

.fs_footer {
  background: $color-footer-background;
  border-top: $color-divider 1px solid;
  padding: 4rem 0;
  position: relative;

  a {
    color: $color-primary;
  }
}

.fs_footer_content {
  color: $color-secondary-text;
  font-size: $typeography-caption;
  line-height: 1.45;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 30px;

  @media (min-width: $breakpoint-tablet) {
    width: 80%;
  }
}
