$color-footer-background: #f7fafb;
$color-footer-border: #ebf2f6;

.fs_footer {
  background: $color-footer-background;
  border-top: $color-divider 1px solid;
  padding: 4rem 0;
  position: relative;

  &::before {
    background: $color-background;
    border: $color-divider 1px solid;
    border-radius: 100%;
    content: '';
    display: block;
    height: 7px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -4px;
    width: 7px;
    z-index: 500;
  }
}

.fs_footer_content {
  color: $color-secondary-text;
  font-size: $typeography-caption;
  line-height: 1.45;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 30px;

  @media (min-width: $breakpoint-tablet) {
    width: 80%;
  }
}
