.fs_footer {
  position: relative;
  padding: 4rem 0;
  border-top: #EBF2F6 1px solid;
  color: #BBC7CC;
  background: #F7FAFB;

  a {
    color: $color-primary;
  }
}

.fs_footer_content {
  font-size: $typeography-caption;
  color: $color-secondary-text;
  padding: 0 30px;
  line-height: 1.45;
  max-width: 600px;
  margin: 0 auto;

  @media (min-width: $breakpoint-tablet) {
    width: 80%;
    font-size: $typeography-caption + 1;
  }
}