$mast_color_avatar_box_shadow: rgba(0, 0, 0, .3);

.fs_mast {
  align-items: center;
  background: $color_background;
  border-bottom: 1px solid $color_divider;
  border-top: 20px solid $color_border;
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: center;
  margin: 0 auto;
  max-height: 500px;
  max-width: 1000px;
  min-height: 380px;
  padding: 0 20px;
  position: relative;

  &::after {
    background: $color_background;
    border: $color_divider 1px solid;
    border-radius: 100%;
    bottom: -5px;
    content: '';
    display: block;
    height: 7px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 7px;
    z-index: 500;
  }
}

.fs_mast-avatar {
  border: 3px solid $color_background;
  border-radius: 100%;
  box-shadow: 0 1px 1px $mast_color_avatar_box_shadow;
  display: inline-block;
  height: 120px;
  overflow: hidden;
  width: 120px;
  z-index: 500;
}

.fs_mast-avatar_image {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 120px;
}

.fs_mast-social {
  margin: 12px 0 0;
}

.fs_mast-social_link {
  margin: 0 10px;
  text-decoration: none;

  path {
    fill: $color_secondary_text;
    transition: fill ease .3s;
  }

  &:hover path {
    fill: $color_accent;
  }
}

.fs_mast-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.fs_mast-slug {
  color: $color_secondary_text;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 4px;
  max-width: 420px;
  text-align: center;
}

.nowrap {
  @media (min-width: $breakpoint_tablet) {
    white-space: nowrap;
  }
}
