$timeline-color-node-border: #f5f7fa;

.fs_timeline {
  margin: 0 auto;
  max-width: 700px;
  padding: 20px 0;
  position: relative;

  &::before {
    background-color: $color-divider;
    bottom: 0;
    content: '';
    left: 30px;
    margin-left: -1px;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 100;
  }

  @media (min-width: $breakpoint-tablet) {
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.fs_timeline-group,
.fs_timeline-group--even {
  list-style-type: none;
  margin-top: 39px;
  padding-left: 40px;
  position: relative;

  &::before {
    background-color: $color-primary;
    border: 4px solid $timeline-color-node-border;
    border-radius: 0;
    content: '';
    height: 22px;
    left: 30px;
    margin-left: -11px;
    position: absolute;
    top: 6px;
    width: 22px;
    z-index: 200;
  }

  @media (min-width: $breakpoint-tablet) {
    max-width: 350px;
    padding-left: 0;
    padding-right: 20px;
    right: 0;
    text-align: right;

    &::before {
      left: auto;
      right: -9px;
    }
  }
}


.fs_timeline-group--even {
  @media (min-width: $breakpoint-tablet) {
    left: 50%;
    padding-left: 20px;
    padding-right: 0;
    text-align: left;

    &::before {
      left: -2px;
      right: auto;
    }
  }

  .fs_timeline-event {
    @media (min-width: $breakpoint-tablet) {
      &::after {
        left: -20px;
        right: auto;
      }
    }
  }
}


.fs_timeline-subheader {
  color: $color-primary;
  display: inline-block;
  font-size: $typeography-subheading;
  line-height: 1;
  padding: 10px;

  @media (min-width: $breakpoint-tablet) {
    padding: 10px 0;
  }
}

.fs_timeline-events {
  margin: 0;
  padding: 10px;

  @media (min-width: $breakpoint-tablet) {
    padding: 10px 0;
  }
}

.fs_timeline-event {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  position: relative;

  &::after {
    background: $color-background;
    border: $color-divider 1px solid;
    border-radius: 100%;
    content: '';
    display: block;
    height: 7px;
    left: -19px;
    margin-left: -5px;
    position: absolute;
    top: 21px;
    width: 7px;
    z-index: 500;
  }

  @media (min-width: $breakpoint-tablet) {
    padding: 10px 0;

    &::after {
      left: auto;
      right: -22px;
    }
  }
}

.fs_timeline-event_heading {
  line-height: 1.1;
  margin: 0;
  padding-bottom: 4px;
}

.fs_timeline-event_link {
  background-position: 0 24px;
  color: $color-text;
  font-size: $typeography-title;
  font-weight: 300;
  margin: 0;
  text-decoration: none;
  transition: background-position ease 1s;

  &:hover {
    background-image: linear-gradient(to bottom, $color-background 50%, $color-primary);
    background-position: 0 23px;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: $color-primary;
  }
}

.fs_timeline-event_slug {
  color: $color-secondary-text;
  font-size: $typeography-caption;
  margin: 0 0 15px;
}
