@charset 'utf-8';

$breakpoint-tablet: 48em;

$typeography-display-1: 30px;
$typeography-headline: 18px;
$typeography-title: 20px;
$typeography-subheading: 16px;
$typeography-caption: 15px;
$typeography-sans-font: 'futura-pt', Helvetica, Arial, sans-serif;

$color-background: #fdfdfd;
$color-primary: #7f3663;
$color-divider: rgba(0, 0, 0, .12);
$color-secondary-text: rgba(0, 0, 0, .54);
$color-text: rgba(0, 0, 0, .87);


body {
  background-color: $color-background;
  color: $color-text;
  font-family: $typeography-sans-font;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  max-height: 100%;
  text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.wf-active .js-hide {
  display: none;
}

@import 'mast';
@import 'timeline';
@import 'footer';
