.list {
  composes: card from "./utils.scss";
  padding: var(--step-1) 0 var(--step-1) var(--step-1);
}

.list_item {
  display: block;
  border-bottom: solid 1px var(--color-background);
}

.list_item_title {
  font-size: var(--step-0);
  padding: var(--step-1) var(--step-1) 0 0;
}

.list_item_title_link {
  color: var(--color-link);

  .list_item_title_year {
    color: inherit;
  }
}

.list_item_title_year {
  color: var(--color-text-secondary);
  font-size: var(--step--2);
  font-family: var(--font-sans);
  font-weight: 300;
}

.list_item_slug {
  font-family: var(--font-sans);
  font-size: var(--step--1);
  font-weight: 300;
  color: var(--color-text-secondary);
  padding: calc(0.5 * var(--step--2)) var(--step-1) var(--step-1) 0;
}
