
%main
  %ul#list.timeline
    - posts.each do |post|
      %li{ 'data-date': post.date.iso8601, 'data-link': post.link, 'data-title': post.title, 'data-location': post.location }
        %h3
          %a{ href: post.link }
            = post.title
          %p
            Published at #{post.location} <span class="time">on #{post.date}</span>
